<tr id="employee-<%=employee.id %>" class="employee-record">
  <td><%= employee.id %></td>
  <td><%= employee.name %></td>
  <td><%= employee.department %></td>
  <td>
    <%= link_to 'Show', employee %> |
    <%= link_to 'Edit', edit_employee_path(employee) %> |
    <%= link_to 'Delete', employee, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
  </td>
</tr>