<%= form_with model: @employee do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :name, {class: "form-label"} %>
        <%= form.text_field :name, { class: "form-control", placeholder: "Employee name" } %>
      </div>
      <div class="mb-3">
        <%= form.label :department, {class: "form-label"} %>
        <%= form.select :department, Employee::DEPARTMENTS, { class: "form-select" } %>
      </div>
      <div class="mb-3">
        <%= form.label :photo, {class: "form-label"} %>
        <%= form.file_field :photo, { class: "form-control" } %>
      </div>

      <%= form.submit "Create employee", { class: "btn btn-primary" } %>
    </div>
  </div>
<% end %>