<div class="card">
  <div class="card-body">
    <div class="mb-3">
      <div class="d-flex align-items-center justify-content-start border-bottom">
        <p class="py-2 fw-bolder">Name:</p>
        <p class="py-2 ms-2 text-muted"><%= current_employee.name %></p>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex align-items-center justify-content-start border-bottom">
        <p class="py-2 fw-bolder">Department:</p>
        <p class="py-2 ms-2 text-muted"><%= current_employee.department %></p>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex align-items-center justify-content-start border-bottom">
        <p class="py-2 fw-bolder">Photo:</p>
        <p class="py-2 ms-2 text-muted"><%= current_employee.photo %></p>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="py-2 fw-bolder"><%=link_to_unless current_employee.deleted?, 'Edit', edit_employee_path(current_employee), class: 'btn btn-primary' %></p>
        <p class="py-2 ms-2 text-muted"><%=link_to 'Back', :back, class: "btn btn-secondary" %></p>
      </div>
    </div>
  </div>
</div>