<% content_for :head do %>
  <%=  link_to_if @current_department.present? ,"All", lunch_path(@lunch_id), class: "ms-1 me-1" %>

  <%- Employee::DEPARTMENTS.each do |department| -%>
    | <%=  link_to_unless_current department.capitalize, lunch_path(@lunch_id, department: department), class: "ms-1 me-1" %>
  <%- end -%>
<% end %>

<h2 class="mb-3">Lunch <%= @title %></h2>

<%- @pairs.each_pair do |lunch_group, pair| -%>
  <div class="card mb-3">
    <div class="card-header">Group: <%= lunch_group %></div>
    <div class="card-body">
      <div class="row">
        <%= render partial: "participant", collection: pair %>
      </div>
    </div>
  </div>
<%- end -%>